<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SportsStore</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SportsStore", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@(ViewBag.Active == "Home" ? "active" : "")">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="@(ViewBag.Active == "Product" ? "active" : "")">@Html.ActionLink("Products", "Index", "Product")</li>
                    <li class="@(ViewBag.Active == "Store" ? "active" : "")">@Html.ActionLink("Store", "Index", "Store")</li>
                    <li class="@(ViewBag.Active == "Cart" ? "active" : "")">@Html.ActionLink("Your cart", "Index", "Cart")</li>
                    <li class="@(ViewBag.Active == "About" ? "active" : "")">@Html.ActionLink("About", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-danger">@TempData["Message"]</div>
        }
        @if (TempData["Info"] != null)
        {
            <div class="alert alert-success">@TempData["Info"]</div>
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SportsStore</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
